# Environnement de l'application (production, développement, etc.)
NODE_ENV=development  # Options possibles : production, development

# Clé API pour sécuriser les endpoints
# Si cette variable est vide ou non définie, la vérification de la clé API est désactivée
API_KEY=your_secure_api_key_here